    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-message">
      <div class="container">
        <p>Quickly connect with excess goods in your network</p>
      </div>
    </div>

    <div class="container">

			
		
<div class="bs-example">
	
	<% @overflows.each do |overflow| %>
	<h3 class="text-primary">Posted <%= time_ago_in_words(overflow.created_at) %> ago</h3>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Palette of Carrots</h4>
            <p class="list-group-item-text"><%= overflow.description %></p>
			<% if overflow.perishable %>
				<p class="list-group-item-text"><%= time_ago_in_words(overflow.expiration) %> from now</p>
			<% end %>
        </a>
    </div>
	 <% end %>
	 
      <hr>

      <footer>
        <p>&copy; Harvest Overflow 2014</p>
      </footer>
    </div> <!-- /container -->  
