<html lang="en">
<head>

</head>

  <body>

    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Harvest Overflow</a>
        </div>
        <div class="navbar-collapse collapse">
          <form role="form" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-position: right center; cursor: auto;" autocomplete="off">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-position: right center;" autocomplete="off">
            </div>
            <button class="btn btn-success" type="submit">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-message">
      <div class="container">
        <p>Quickly connect with excess goods in your network</p>
      </div>
    </div>

    <div class="container">
		
<div class="bs-example">
	<h3 class="text-primary">Saturday May 31st</h3>
    <div class="list-group list-group-item-success">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Palette of Carrots</h4>
            <p class="list-group-item-text">Mauris porttitor neque sit amet vestibulum porttitor. Vestibulum tincidunt malesuada libero eu vehicula. </p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">2 Boxes of mens clothes</h4>
            <p class="list-group-item-text"> In elementum, sapien ac dignissim ultricies, est diam cursus sem, ut adipiscing lacus lacus vel tortor. Suspendisse mauris justo, tempus et sapien eget, volutpat interdum risus. </p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">30 Bunches of Bananas</h4>
            <p class="list-group-item-text"> Nulla luctus, ipsum in vulputate faucibus, orci dolor rutrum tellus, non fringilla velit purus nec sapien. In elementum, sapien ac dignissim ultricies, est diam cursus sem, ut adipiscing lacus lacus vel tortor.</p>
        </a>
    </div>
	<h3 class="text-primary">Friday May 30st</h3>
    <div class="list-group list-group-item-success">
        <a href="#" class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading">Palette of Carrots</h4>
            <p class="list-group-item-text">Mauris porttitor neque sit amet vestibulum porttitor. Vestibulum tincidunt malesuada libero eu vehicula. </p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">What is Twitter Bootstrap?</h4>
            <p class="list-group-item-text"> In elementum, sapien ac dignissim ultricies, est diam cursus sem, ut adipiscing lacus lacus vel tortor. Suspendisse mauris justo, tempus et sapien eget, volutpat interdum risus. </p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">What is CSS?</h4>
            <p class="list-group-item-text"> Nulla luctus, ipsum in vulputate faucibus, orci dolor rutrum tellus, non fringilla velit purus nec sapien. In elementum, sapien ac dignissim ultricies, est diam cursus sem, ut adipiscing lacus lacus vel tortor.</p>
        </a>
    </div>
</div>

      <hr>

      <footer>
        <p>&copy; Harvest Overflow 2014</p>
      </footer>
    </div> <!-- /container -->  

</body></html>